<h3>Interpolation Binding   {{title}}</h3>

<h3>Property Binding <span [innerHtml]="title"></span></h3>

<h1>Attribute Binding</h1>
<table [attr.border]=1>
    <tr>
        <td [attr.colspan]="cols">Student Details</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>CLASS</td>
    </tr>
    <tr>
        <td>001</td>
        <td>SOUMENDRA DAS</td>
        <td>10th</td>
    </tr>
</table>