
<!-- <h1>LOOPS DEMO</h1> -->

<!-- <li *ngFor="let student of students; let i = index; let f=first; let l=last; let ev=even; let od = odd">
   {{i+1}} - {{student.name}} - {{f}} - {{l}} - {{ev}} -- {{od}}
</li> -->

<h1>TRACK BY METHOD</h1>

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>ID</th>
        <th>NAME</th>
    </tr>

    <tr *ngFor="let s of students; let i = index; trackBy:trackStudentId">

        <td>{{i}}</td>
        <td>{{s.id}}</td>
        <td>{{s.name}}</td>
    </tr>
</table>

<br><br>
<hr>
<button (click)="getMoreStudent()">GetMore</button>


