
<div class="container">
    <div class="form-bg">
        <form #regForm = "ngForm" (ngSubmit)="registration(regForm)">
            <div class="form-group">
                <input placeholder="First Name" name="firstName" ngModel>
            </div>
            <div class="form-group">
                <input placeholder="Last Name" name="lastName" ngModel>
            </div>

            <div class="form-group">
                <input type="email" placeholder="Email" name="email" email ngModel #email = "ngModel">
            </div>
            <br>
            <button type="submit" class="btn btn-primary" [disabled]="!regForm.valid">Register</button>
        </form>
    </div>
</div>