

<div class="container">
    <div class="form-bg">
        <form [formGroup] = "signupForm" (ngSubmit)="postData(signupForm)">
            <div class="form-group">
                <input placeholder="First Name" formControlName="fName">
            </div>
            <div class="form-group">
                <input placeholder="Last Name" formControlName="lName">
            </div>

            <div class="form-group">
                <input placeholder="Email" formControlName="emailId">
            </div>

            <div class="form-group">
                <input placeholder="Password" formControlName="userPassword" type="password">
            </div>

            <div formArrayName="contactNos" *ngFor="let contact of getContactNos(); let i = index">
                <input placeholder="number" class="form-control" type="number" [formControlName]="i"
                ngValue="contact">
            </div>

            <div formArrayName="language" *ngFor="let lang of getLanguages(); let i = index">
                <div [formGroupName]="i">
                    <select formControlName="lang">
                        <option value="English">English</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Odia">Odia</option>
                    </select>
                </div>
            </div>

            <button (click)="addLang()" class="btn btn-default">Add language</button>

            <br>
            <!-- <button type="submit" class="btn btn-primary" [disabled] = "!signupForm.valid">Register</button> -->
            <button type="submit" class="btn btn-primary" >Register</button>
            <button (click)="fillData()">Fill Data</button>
        </form>


    </div>

    <div class="container">
        <form [formGroup]="contactForm" (ngSubmit)="saveNumber(contactForm)">
            <div formArrayName="contactNos">
            <div *ngFor="let contact of contactForm.controls.contactNos.controls; index as i">
                <input type="text" [formControlName]="i" ngValue="contact">
            </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>