

<h2>{{title|titlecase}}</h2>

<span>{{dob}}</span><br>
<span>{{dob|date:'medium'}}</span><br>
<span>{{dob|date:'mediumDate'}}</span><br>

<span>{{dob|date:'mediumTime'}}</span><br>
<span>{{dob|date:'dd/MMM/yyyy'}}</span><br>

<span>{{salary|currency:'INR'}}</span><br>

<h3>{{students|json}}</h3>
<h3>{{students|slice:1:4|json}}</h3>
<hr>
<table border=1>
    <tr *ngFor = "let st of students">
        <td>{{st.id}}</td>
        <td>{{st.name}}</td>
        <td>{{st.gender}}</td>
    </tr>
</table>

<hr>

<table border=1>
    <tr *ngFor = "let st of students">
        <td>{{st.id}}</td>
        <td>{{st.name|mypipe:st.gender}}</td>
        <td>{{st.gender}}</td>
    </tr>
</table>